// =============================================================================
// Animations
// =============================================================================

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(10%, 0, 0);
    -webkit-transform: translate3d(10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes slideInRight {
  from {
    transform: translate3d(50%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}