// =============================================================================
// Variables
// =============================================================================

//Colors
$white:           #FFFFFF;
$purple:          #C21B91;
$gold:            #FDA700;
$blue:            #60C2F8;
$black:           #333333;
$grey:            #999999;

//Theme Colors
$p_theme:         #666666;
$main_color:      #006291;

//Type of font
$poppins_regular:     'Poppins Regular', Arial, sans-serif;
$poppins_bold:        'Poppins Bold', Arial, sans-serif;
$poppins_light:       'Poppins Light', Arial, sans-serif;
$poppins_italic:      'Poppins Italic', Arial, sans-serif;
$poppins_sm-bold:     'Poppins Semi-bold', Arial, sans-serif;


//Mixin variables

//Entry Content
@mixin entr-cont {
  opacity: 0;
  animation: fadeIn 0.5s forwards 0.5s;
}

@mixin back_header {
  &:before {
    content: "";
    background-color: $main_color;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
}

@mixin btns {
  border-radius: 5px;
  padding: 15px 23px;
  text-transform: uppercase;
  font-family: $poppins_sm-bold;
  color: $white;
  background-color: $main_color;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  &:hover {
    background-color: #0377AF;
    color: $white;
  }
}
.site {
  .btn-pad {
    @include btns;
  }
}

