// =============================================================================
// 01. LG | Large devices (desktops, less than 1200px)               |  ≥1199px
// 02. MD | Medium devices (tablets, less than 992px)                |  ≥991px
// 03. SM | Small devices (landscape phones, less than 768px)        |  ≥767px
// 04. XS | Extra small devices (portrait phones, less than 576px)   |  ≥575px
// =============================================================================

// =============================================================================
// 01. LG | Large devices (desktops, less than 1200px)
// =============================================================================
@media (max-width: 1199px) { @import "lg-1199"; }

// =============================================================================
// 02. MD | Medium devices (tablets, less than 992px)
// =============================================================================
@media (max-width: 991px) { @import "md-991"; }

// =============================================================================
// 03. SM | Small devices (landscape phones, less than 768px)
// =============================================================================
@media (max-width: 768px) { @import "sm-768"; }

// =============================================================================
// 03. SM | Small devices (landscape phones, less than 768px)
// =============================================================================
@media (min-width: 768px) { 
  .unslider-nav {
    max-width: 720px
  } 
}

// =============================================================================
// 02. MD | Medium devices (tablets, less than 992px)
// =============================================================================
@media (min-width: 992px) { 
  .unslider-nav {
    max-width: 960px
  } 
}

// =============================================================================
// 01. LG | Large devices (desktops, less than 1200px)
// =============================================================================
@media (min-width: 1200px) { 
  .unslider-nav { 
    max-width: 1140px;
  }
}






