// =============================================================================
// MD | Medium devices (tablets, less than 992px)
// =============================================================================

.site .btn-pad {
  font-size: 11px;
  padding: 14px 12px;
}

.unslider #slider ul li .div-slider {
  padding-left: 0;
}